{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container">
  <div class="tab">
    <button class="tablinks active" id="defaultOpen">
      <img src="{%static 'img/record.svg'%}" />透<br/>析<br/>紀<br/>錄<br/>
    </button>
  </div>
<div id="dashboard" class="tabcontent">
  <div class="map">
    <section class="area">
      <h1>B</h1>
      <ul class="up">
      {% for patient in b_patients %}
        {% if patient.id == '---' %}
        <li class="bed" id="bed-{{ patient.bed }}">
          <div class="bed-top bed-inactive">{{ patient.bed }}  --- </div>
          <div class="record record-inactive">無紀錄</div>
        {% else %}
        {% if patient.status %}
        <li class="bed bed-danger" id="bed-{{ patient.bed }}" onclick="location.href='{{patient.bed}}'">
          <div class="bed-top bed-top-danger">{{ patient.bed }}  {{ patient.id.p_name }} </div>
        {% else %}
        <li class="bed" id="bed-{{ patient.bed }}" onclick="location.href='{{patient.bed}}'">
          <div class="bed-top">{{ patient.bed }}  {{ patient.id.p_name }} </div>
        {% endif %}
          <div class="record">查看透析紀錄</div>
        </li>
        {% endif %}
      {% endfor %}
      </ul>
      <div class="divider"></div>
    </section>
    <section class="area">
      <h1>C</h1>
      <ul class="up">
      {% for patient in c_patients %}
        {% if patient.id == '---' %}
        <li class="bed" id="bed-{{ patient.bed }}">
          <div class="bed-top bed-inactive">{{ patient.bed }}  --- </div>
          <div class="record record-inactive">無紀錄</div>
        {% else %}
        {% if patient.status %}
        <li class="bed bed-danger" id="bed-{{ patient.bed }}" onclick="location.href='{{patient.bed}}'">
          <div class="bed-top bed-top-danger">{{ patient.bed }}  {{ patient.id.p_name }} </div>
        {% else %}
        <li class="bed" id="bed-{{ patient.bed }}" onclick="location.href='{{patient.bed}}'">
          <div class="bed-top">{{ patient.bed }}  {{ patient.id.p_name }} </div>
        {% endif %}
          <div class="record">查看透析紀錄</div>
        </li>
        {% endif %}
      {% endfor %}
      </ul>
      <div class="divider"></div>
    </section>
    <section class="area">
      <h1>D</h1>
      <ul class="up">
      {% for patient in d_patients %}
        {% if patient.id == '---' %}
        <li class="bed" id="bed-{{ patient.bed }}">
          <div class="bed-top bed-inactive">{{ patient.bed }}  --- </div>
          <div class="record record-inactive">無紀錄</div>
        {% else %}
        {% if patient.status %}
        <li class="bed bed-danger" id="bed-{{ patient.bed }}" onclick="location.href='/{{patient.bed}}'">
          <div class="bed-top bed-top-danger">{{ patient.bed }}  {{ patient.id.p_name }} </div>
        {% else %}
        <li class="bed" id="bed-{{ patient.bed }}" onclick="location.href='{{patient.bed}}'">
          <div class="bed-top">{{ patient.bed }}  {{ patient.id.p_name }} </div>
        {% endif %}
          <div class="record">查看透析紀錄</div>
        </li>
        {% endif %}
      {% endfor %}
      </ul>
    </section>
    <section class="area">
      <h1>A</h1>
      <ul class="down">
      {% for patient in a_patients %}
        {% if patient.bed == '' %}
        <li></li>
        {% else %}
          {% if patient.id == '---' %}
          <li class="bed" id="bed-{{ patient.bed }}">
            <div class="bed-top bed-inactive">{{ patient.bed }}  --- </div>
            <div class="record record-inactive">無紀錄</div>
          {% else %}
          {% if patient.status %}
          <li class="bed bed-danger" id="bed-{{ patient.bed }}" onclick="location.href='{{patient.bed}}'">
            <div class="bed-top bed-top-danger">{{ patient.bed }}  {{ patient.id.p_name }} </div>
          {% else %}
          <li class="bed" id="bed-{{ patient.bed }}" onclick="location.href='{{patient.bed}}'">
            <div class="bed-top">{{ patient.bed }}  {{ patient.id.p_name }} </div>
          {% endif %}
            <div class="record">查看透析紀錄</div>
          </li>
          {% endif %}
        {% endif %}
      {% endfor %}
      </ul>
      <div class="divider"></div>
    </section>
    <section class="area">
      <h1>E</h1>
      <ul class="down">
        {% for patient in e_patients %}
        {% if patient.bed == '' %}
        <li></li>
        {% else %}
          {% if patient.id == '---' %}
          <li class="bed" id="bed-{{ patient.bed }}">
            <div class="bed-top bed-inactive">{{ patient.bed }}  --- </div>
            <div class="record record-inactive">無紀錄</div>
          {% else %}
          {% if patient.status %}
          <li class="bed bed-danger" id="bed-{{ patient.bed }}" onclick="location.href='{{patient.bed}}'">
            <div class="bed-top bed-top-danger">{{ patient.bed }}  {{ patient.id.p_name }} </div>
          {% else %}
          <li class="bed" id="bed-{{ patient.bed }}" onclick="location.href='{{patient.bed}}'">
            <div class="bed-top">{{ patient.bed }}  {{ patient.id.p_name }} </div>
          {% endif %}
            <div class="record">查看透析紀錄</div>
          </li>
          {% endif %}
        {% endif %}
      {% endfor %}
      </ul>
      <div class="divider"></div>
    </section>
    <section class="area">
      <h1>I</h1>
      <ul class="down">
      {% for patient in i_patients %}
        {% if patient.bed == '' %}
        <li></li>
        {% else %}
          {% if patient.id == '---' %}
          <li class="bed" id="bed-{{ patient.bed }}">
            <div class="bed-top bed-inactive">{{ patient.bed }}  --- </div>
            <div class="record record-inactive">無紀錄</div>
          {% else %}
          {% if patient.status %}
          <li class="bed bed-danger" id="bed-{{ patient.bed }}" onclick="location.href='{{patient.bed}}'">
            <div class="bed-top bed-top-danger">{{ patient.bed }}  {{ patient.id.p_name }} </div>
          {% else %}
          <li class="bed" id="bed-{{ patient.bed }}" onclick="location.href='{{patient.bed}}'">
            <div class="bed-top">{{ patient.bed }}  {{ patient.id.p_name }} </div>
          {% endif %}
            <div class="record">查看透析紀錄</div>
          </li>
          {% endif %}
        {% endif %}
      {% endfor %}
      </ul>
    </section>
  </div>
</div>
{% if home %}
<div id="modal" class="modal hidden">
{% else %}
<div id="modal" class="modal">
  <!-- Modal content -->
  <div class="modal-idh">
    <div class="modal-feedback">
      <div id="patient">{{ setting.bed }}  {{ id.p_name }}</div>
      <div class="idh-linechart" id="linechart"></div>
      <script>
        let chart = {{ chart|safe }};
        const xAxis = chart.map(data => data["timestamp"])
        const SBP = chart.map(data => data["SBP"]);
        const pulse = chart.map(data => data["pulse"]);
        const CVP = chart.map(data => data["CVP"]);
        let IDH = [];                
        let exist = false;
        let linechart = Highcharts.chart("linechart", {
          chart: { 
            type: "line",
            height: 260 + "em",
            width: 1100,
            backgroundColor: "#f4f7fb",
            spacing: [30, 0, 0, 10],
            events: {
              click: function(e) {
                let id = Math.round(e.xAxis[0].value);
                exist = false;
                let nowbands = this.xAxis[0].plotLinesAndBands;
                for(let i = 0; i < nowbands.length; i++) {
                  if(nowbands[i].id == "band" + id) {
                    exist = true;
                    IDH = IDH.filter(function(item) {
                        return item['index'] != id
                    });
                    removePlotBand(nowbands[i].id);
                    break;
                  }
                }
                if(!exist) {
                  IDH.push({
                    "index": id,
                    "timestamp": chart[id].timestamp,
                    "SBP": chart[id].SBP,
                  })
                  addPlotBand(id);
                }
                console.log(IDH);
              },
            }
          },
          title: { 
            style: {
              "display": "none",
            }
          },
          credits: {
            enabled: false,
          },
          legend: {
            align: "right",
            verticalAlign: "middle",
            layout: "vertical",
            itemMarginTop: 10,
            itemStyle: {
              color: "#4A5563",
              fontSize: "18px",
            },
            symbolWidth: 24,
            symbolHeight: 24,
            symbolPadding: 10,
          },
          tooltip: {
            borderRadius: 8,
          },
          xAxis: { 
            categories: xAxis,
          },
          yAxis: [
          {
            title: { 
              text: "壓力",
              rotation: 0,
              align: "high",
              style: {
                fontSize: "18px",
                color: "#4A5563",
              },
              y: -15,
              offset: 25,
            },
            labels: { 
              algin: "center",
              format: "{value} mmHg",
              style: {
                fontSize: 12,
              }
            },
            minorTicks: true,
          },
          {
            opposite: true,
            title: { 
              text: "脈搏",
              rotation: 0,
              align: "high",
              style: {
                fontSize: "18px",
                color: "#4A5563",
              },
              y: -15,
              offset: 15,
            },
            labels: { 
              algin: "center",
              format: "{value} bpm",
              style: {
                fontSize: 12,
              }
            },
          }],
          series: [
          {
            name: "收縮壓",
            data: SBP,
            lineWidth: 3,
            color: "#fe7878",
          },
          {
            name: "脈搏",
            data: pulse,
            yAxis: 1,
            lineWidth: 3,
          },
          {
            name: "靜脈壓",
            data: CVP,
            lineWidth: 3,
            color: "#999999"
          }],
        });
        for(let i = 0; i < chart.length; i++) {
          if(chart[i].SBP > 0 && chart[i].SBP <= 90) {
            IDH.push({
              "index": i,
              "timestamp": chart[i].timestamp,
              "SBP": chart[i].SBP,
            })
            linechart.xAxis[0].addPlotBand({
              from: i - 0.5,
              to: i + 0.5,
              color: "#ffecc4",
              borderColor: "#CBD3DE",
              borderWidth: 0.5,
              id: "band" + i,
            })
          }
        }
        
        function removePlotBand(id) {
          linechart.xAxis[0].removePlotBand(id);
        }
        function addPlotBand(id){
          linechart.xAxis[0].addPlotBand({
            from: id - 0.5,
            to: id + 0.5,
            color: "#ffecc4",
            borderColor: "#CBD3DE",
            borderWidth: 0.5,
            id: "band" + id,
          });
        }
      </script>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}