{% extends 'base.html' %} {% block content %} {% load static %}
<script src="{% static "js/nurseAreaAdjust.js" %}"></script>
<link rel="stylesheet" href="{% static 'css/nurseArea.css' %}">
<div class="container">
  <div class="tab">
    <button class="tablinks"  onclick="openTab(event, 'dashboard', 'dashboard')"  id="defaultOpen">
      <img src="{%static 'img/dashboard.svg'%}" />首頁
    </button>
    <button class="tablinks" onclick="openTab(event, 'tabA', 'A')">A區</button>
    <button class="tablinks" onclick="openTab(event, 'tabB', 'B')">B區</button>
    <button class="tablinks" onclick="openTab(event, 'tabC', 'C')">C區</button>
    <button class="tablinks" onclick="openTab(event, 'tabD', 'D')">D區</button>
    <button class="tablinks" onclick="openTab(event, 'tabE', 'E')">E區</button>
    <button class="tablinks" onclick="openTab(event, 'tabI', 'I')">I區</button>
    <button class="tablinks active" onclick="openNurseArea()">護理師專區</button>
  </div>
  <div class="tabcontent">
    <section class="tab-area-nurse">
        <div class="top-tab-area">
          護理師工號與名稱:
          <select id="nurseId">
            {% for nurseInfo in nurseList %}
              <option value="{{ nurseInfo.empNo }}" {% if nurseId == nurseInfo.empNo %} selected {% else %}{% endif %}>{{ nurseInfo.empNo }}</option>
            {% endfor %}
            {% comment %} <option value="A" {% if nurseId == 'A' %} selected {% else %}{% endif %}>A</option>
            <option value="B" {% if nurseId == 'B' %} selected {% else %}{% endif %}>B</option>
            <option value="C" {% if nurseId == 'C' %} selected {% else %}{% endif %}>C</option>
            <option value="D" {% if nurseId == 'D' %} selected {% else %}{% endif %}>D</option> {% endcomment %}
          </select>
          {% csrf_token %}
          <button class="nurse-btn" onclick="AdjustPage()">確認</button>
          <button class="nurse-btn" onclick="SwitchSearchPage()">顯示床位資訊</button>
          <button class="nurse-btn" onclick="SwitchNurseList()">編輯護士名單</button>
        </div>
        <div class="tab-area-nurse-v2">
          <div class="left-tab-area">
              <div style="display: flex; justify-content: center;">
                尚未列入名單之床號:
              </div>
              <ul id="notInList" class="list-format">
              </ul>
          </div>
          <div class="middle-tab-area">
              <a style="border: 1px solid; border-radius: 8px;">＞＞</a>
          </div>
          <div class="right-tab-area">
              <div>
                當前觀察名單:
              </div>
              <ul id="existedList" class="list-format">
              </ul>
          </div>
        </div>
        <div class="bottom-tab-area">
          {% comment %} <button class="nurse-btn" onclick="SaveAdjust()">儲存變更</button> {% endcomment %}
        </div>
    </section>
  </div>
</div>
{% endblock %}