{% extends 'base.html' %} {% block content %} {% load static %}
<script src="{% static "js/nurseArea.js" %}"></script>
<link rel="stylesheet" href="{% static 'css/nurseArea.css' %}">
<div class="container">
  <div class="tab">
    <button class="tablinks"  onclick="openTab(event, 'dashboard', 'dashboard')"  id="defaultOpen">
      <img src="{%static 'img/dashboard.svg'%}" />首頁
    </button>
    <button class="tablinks" onclick="openTab(event, 'tabA', 'A')">A區</button>
    <button class="tablinks" onclick="openTab(event, 'tabB', 'B')">B區</button>
    <button class="tablinks" onclick="openTab(event, 'tabC', 'C')">C區</button>
    <button class="tablinks" onclick="openTab(event, 'tabD', 'D')">D區</button>
    <button class="tablinks" onclick="openTab(event, 'tabE', 'E')">E區</button>
    <button class="tablinks" onclick="openTab(event, 'tabI', 'I')">I區</button>
    <button class="tablinks active" onclick="openNurseArea()">護理師專區</button>
  </div>
  <div class="tabcontent">
    <section class="tab-area-nurse">
        <div class="top-tab-area">
          護理師工號與名稱:
          <select id="nurseId">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
          </select>
          <button class="nurse-btn">搜尋</button>
          <button class="nurse-btn">修改</button>
        </div>
        <div class="tab-area-nurse-v2">
          <div class="left-tab-area">
              <div style="display: flex; justify-content: center;">
                尚未列入名單之床號:
              </div>
              <ul id="notInList" class="list-format">
                  <li class="list-cell-format">test1</li>
                  <li class="list-cell-format">test2</li>
                  <li class="list-cell-format">test3</li>
                  <li class="list-cell-format">test4</li>
                  <li class="list-cell-format">test5</li>
                  <li class="list-cell-format">test6</li>
                  <li class="list-cell-format">test7</li>
                  <li class="list-cell-format">test8</li>
                  <li class="list-cell-format">test9</li>
                  <li class="list-cell-format">test9</li>
                  <li class="list-cell-format">test9</li>
              </ul>
          </div>
          <div class="middle-tab-area">
              <a style="border: 1px solid; border-radius: 8px;">＞＞</a>
          </div>
          <div class="right-tab-area">
              <div>
                當前觀察名單:
              </div>
              <ul id="existedList" class="list-format">
                  {% comment %} <li class="list-cell-format">test-1</li>
                  <li class="list-cell-format">test-2</li>
                  <li class="list-cell-format">test-3</li>
                  <li class="list-cell-format">test-4</li>
                  <li class="list-cell-format">test-5</li> {% endcomment %}
              </ul>
          </div>
        </div>
        <div class="bottom-tab-area">
          <button class="nurse-btn">儲存變更</button>
        </div>
    </section>
  </div>
</div>
{% endblock %}