button {
    border: 0;
}

.bed-feedback {
    background-color: rgb(74, 91, 112);
    box-shadow: 0px 12px 24px -8px rgba(39, 76, 119, 0.16);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    transition: 0.1s;
}

.bed-feedback:hover {
    transform: scale(1.02);
    box-shadow: 0px 12px 24px -8px rgba(39, 76, 119, 0.3);
}

.bed-feedback:active {
    transform: scale(1);
    transition: 0.1s;
}

.bed-feedback-inactive {
    background-color: #CBD3DE;
}

.bed-feedback-active {
    background-color: #E91111;
}

.bed-feedback-active-20ver {
    background-color: #FEA623;
}

.bed-feedback-active-bothver {
    background-color: hsl(16, 95%, 56%);
}

.bed-feedback-text {
    color: #f8f8fB;
    font-weight: 600;
    font-size: 20px;
}

.modal-idh {
    background-color: #f4f7fb;
    margin: auto;
    border: 1px solid #888;
    border-radius: 2rem;
    box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.5);
    width: 80%;
    height: 90%;
}

.modal-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1em;
    position: relative;
    overflow: auto;
}

.feedback-patient {
    height: 20em;
    display: flex;
    align-items: flex-end;
    margin: 2em;
}

.feedback-left {
    margin-right: 4em;
}

.feedback-name {
    font-size: 40px;
    margin-bottom: 1em;
}

.idh-linechart {
    overflow: visible;
}

.btn-confirm {
    background-color: #FEA623;
    box-shadow: 0px 12px 24px -8px rgba(39, 76, 119, 0.16);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    color: #f4f7fb;
    font-weight: 600;
    font-size: 20px;
    transition: 0.1s;
}

.btn-confirm:hover {
    background-color: #feb123;
    transform: scale(1.02);
    box-shadow: 0px 12px 24px -8px rgba(39, 76, 119, 0.3);
}

.btn-confirm:active {
    transform: scale(0.98);
    transition: 0.2s;
}

.feedback-btn {
    width: 10em;
    margin: 2em auto;
}

.note {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.note-container {
    position: relative;
    padding-left: 2em;
    margin-top: 0.5em;
}

.note-container input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5em;
    width: 1.5em;
    background-color: #eee;
}

.radio {
    border-radius: 50%;
}

.checkbox {
    border-radius: 0.2em;
}

.note-container:hover input ~ .checkmark {
    background-color: #ccc;
    transform: scale(1.05);
    transition: all 0.1s;
}

.note-container input:checked ~ .checkmark {
    background-color: #62aaee;
    transform: scale(1.05);
    transition: all 0.1s;
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.note-container input:checked ~ .checkmark::after {
    display: block;
}

.note-container .radio::after {
    top: 0.47em;
    left: 0.47em;
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    background: white;
}

.note-container .checkbox::after {
    top: 0.05em;
    left: 0.35em;
    width: 0.5em;
    height: 0.7em;
    border: solid white;
    border-width: 0 0.25em 0.25em 0;
    transform: rotate(45deg);
}

.note-time {
    margin: 0.5rem 0 0.2rem 0;
    display: flex;
    align-items: center;
}

.note-title {
    font-size: 20px;
    background-color: #CBD3DE;
    padding: 0.1em 0.3em;
    border-radius: 0.2em;
}

hr.rounded {
    border: 3px solid #ccc;
    border-radius: 5px;
}

.idh-time-input {
    width: 200px;
    height: 2rem;
    margin: 0 0.2rem;
    font-size: 14px;
    border-radius: 0.2rem;
    padding: 0 0.5rem;
}

.btn {
    color: white;
    padding: 0.2rem 0.7rem;
    border: 1px #274C77 solid;
    background-color: #274C77;
    border-radius: 0.2rem;
}

.btn:hover {
    transform: scale(1.02);
    box-shadow: 0px 12px 24px -8px rgba(39, 76, 119, 0.3);
}

.btn:active {
    transform: scale(0.98);
    transition: 0.2s;
}

.text-label {
    font-size: 1.5rem;
    margin-left: 1em;
}

.nurseId {
    width: 12rem;
    height: 2rem;
    padding: 0 0.8em;
    border: 1px #274C77 solid;
    border-radius: 0.5rem;
    margin-right: 0.5em;
}