.bed-feedback {
    background-color: rgb(74, 91, 112);
    box-shadow: 0px 12px 24px -8px rgba(39, 76, 119, 0.16);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
}

.bed-feedback-inactive {
    background-color: #CBD3DE;
}

.bed-feedback-active {
    background-color: #E91111;
}

.bed-feedback-text {
    color: #f8f8fB;
    font-weight: 600;
    font-size: 20px;
}

.modal-idh {
    background-color: #f4f7fb;
    margin: auto;
    border: 1px solid #888;
    border-radius: 2rem;
    box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.5);
    width: 65%;
    height: 75%;
}

.modal-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 4em;
}

.idh-linechart {
    margin-top: 5em;
}

.record {
    height: 2.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.record-inactive {
    color: #CBD3DE;
}

.btn-confirm {
    background-color: #FEA623;
    box-shadow: 0px 12px 24px -8px rgba(39, 76, 119, 0.16);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    color: #f4f7fb;
    font-weight: 600;
    font-size: 20px;
}

.btn-confirm:hover {
    background-color: #feb123;
}