* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, div, li, a, button {
    font-family: "Microsoft JhengHei UI";
    font-weight: 700;
    font-size: 18px;
    color: #274C77;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    background-color: #f8f8f8;
    box-shadow: 0px 24px 48px -8px rgba(39, 76, 119, 0.16);
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 2.2rem;
}

nav {
    display: flex;
}

nav ul {
    display: inline-block;
    padding: 0px 15px;
}

.nav_link {
    list-style: none;
}

body {
    background-color: #E7ECEF;
}