.tab_css {
    display: flex;
    height: 75%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.tab_css input {
    display: none
}

.tab_css label {
    width: 2.3em;
    height: 5em;
    margin: 0 0 0.3em 8em;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 15px 0px 0px 15px;
    background: #274C77;
    color: #E7ECEF;
    opacity: 0.5;
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
}

.tab_content {
    z-index: 111;
    order: 1;
    display: none;
    line-height: 1.6;
    font-size: .9em;
    padding: 15px;
}

.tab_css input:checked+label,
.tab_css label:hover {
    opacity: 1;
    font-weight: bold;
}

.tab_css input:checked + label + .tab_content {
    z-index: 111;
    display: initial;
}

.container {
    width: 85%;
    height: 80%;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 12%;
    bottom: 5%;
    background-color: #F8F8FB;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 12px 20px -8px rgba(0, 0, 0, 0.06);
}