<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDH Monitor System</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/tab.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>
    <header>
        <h1>成大醫院</h1>
        <div id="currentTime"></div>
        <nav class="navbar">
            {% comment %} <img src="{%static 'img/dropdown.svg' %}" alt="v"> {% endcomment %}
            <ul class="nav_link">
                <li><a href="">首頁</a></li>
                <li><a>填寫透析紀錄</a></li>
            </ul>
            <img src="{%static 'img/user.svg' %}" alt="user">
        </nav>
    </header>
    <main>
    {% block content %}
    {% endblock %}
    </main>
    <script src="{%static 'js/index.js' %}" crossorigin="anonymous"></script>
</body>
</html>